In [ ]:
# As duas para conexcao com bandc de dados
# SQL Alchemy

# psycopg2

In [3]:
import psycopg2 as pg

In [4]:
# pip install psycopg2-binary

In [5]:
# Credencial
host = 'comunidade-ds-postgres.c50pcakiuwi3.us-east-1.rds.amazonaws.com'
port = 5232
database = 'comunidadedsdb'
username='member'
pwd = 'cdspa'

In [6]:
conn = pg.connect(user=username,
                  password=pwd,
                  host=host,
                  port=port,
                  database=database )

OperationalError: could not translate host name "comunidade-ds-postgres.c50pcakiuwi3.us-east-1.rds.amazonaws.com" to address: nodename nor servname provided, or not known

In [7]:
cursor = conn.cursor()

query_schema = """
    SELECT nspname
    FROM pg_catalog.pg_namespace
"""
cursor.execute( query_schema)

record = cursor.fetchall()
cursor.close()
conn.close()

NameError: name 'conn' is not defined

# 2.0 Table Query

In [ ]:
cursor = conn.cursor()

query_schema = """
    SELECT tablename
    FROM pg_tables
    WHERE schemaname='pa004'
"""
cursor.execute( query_schema)

record = cursor.fetchall()
cursor.close()
conn.close()

4.0 collect data usining Pandas (com pndas )

In [11]:
import pandas.io.sql as psql
import pandas as pd

In [ ]:
query_schema_tables = """
    SELECT tablename
    FROM pg_tables
    WHERE schemaname='pa004'
    limit = 10
"""

df = psql.read_sql( query_schema_tables, conn )
df.head()

# ou

In [13]:
df1 = pd.read_sql( query_schema_tables, conn)
# Excluir as col 5 e 9 
df1 = df1.drop( df.columns[[5, 9]], axis=1 )
df1.head()

NameError: name 'query_schema_tables' is not defined